html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px !important;
}

td {
  padding: 2px 4px !important;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.from-teal-500 {
  --tw-gradient-from: #14b8a6;
  --tw-gradient-to: rgba(20, 184, 166, 0);
  --tw-gradient-stops: #14b8a6, #2563eb;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
